
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="container text-center">

  <h1>This Website is created by Ashutosh Tiwari.</h1>

  <h1>This is first demo website using django and python.</h1>

  <h1> This is live update on corona , over 2000 people are affected in india.</h1>

  <h1> this website is password generator for applications. </h1>

  <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
</div>
